
/* header 开始*/
#header {
    height: 32px;
    background: #f2f2f2;
    line-height: 32px;
    font-size: 12px;
    border-bottom: 1px solid #e5e5e5;
}
/*#quick-menu {*/
/*    position: relative;*/
/*    top: 0;*/
/*}*/
#quick-menu {
    float: right;
}
#quick-menu>li {
    float: left;
    position: relative;
    /*padding: 0 10px;*/
}
#quick-menu .submenu {
    display: none;
    position: absolute;
    top: 32px;
    left: -1px;
    width: 92px;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 0 1px 1px;
    line-height: 24px;
    padding: 6px 0;
    background: #fff;
    z-index: 2;
}
#quick-menu .submenu li:hover>a {
    text-decoration: underline;
}
#quick-menu .split {
    width: 1px;
    height: 14px;
    background: #ccc;
    padding: 0;
    margin: 8px 5px;
}
#header .trangle {
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px;
    height: 33px;
    cursor: pointer;
}
#header .trangle::after {
    content: "";
    width: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #bbb transparent transparent;
    /*做一个三角形，把div长宽设置为0，把border设置一个宽度，再给boder一个颜色，就可以得到由4个三角形组成的正方形，想要哪个三角形，把其他三角形设置为透明就可以了*/
    /*border-top-color: #bbb;*/
    /*border-left-color: green;*/
    /*border-right-color: red;*/
    /*border-bottom-color: blue;*/
    position: absolute;
    top: 50%;
    right: 3px;
    margin-top: -1px;
    /*border-bottom-width: 0;*/
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    transform-origin: 3px 1.5px;
}
#header .trangle:hover::after {
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#header .trangle:hover {
    background: #fff;
    border-color: #e5e5e5;
}
#header .trangle:hover>.submenu {
    display: block;
}

#header .trangle:hover>a {
    text-decoration: underline;
    color: #ff0036;
}

#login-info {
    display: inline-block;
    width: auto;
    float: left;
}
#header a,#login-info span {
    color: #999;
    padding: 0 10px;
}
#header a:hover{
    color: #ff0036;
}
.icon-buy-car {
    color:#FF0036;
    font-size: 12px;
    position: relative;
    left: 7px;
}
.icon-shouji {
    color: #ff0036;
    font-size: 14px;
    position: relative;
    left: 12px;
    top: 1px;
}
.icon-daohang {
    color: #ff0036;
    font-size: 13px;
    position: relative;
    left: 10px;
}
#login-info .register {
    padding: 0;
}
#quick-menu .qr-code {
    display: none;
    width: 175px;
    height: 227px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 28px;
    left: -60px;
    background: #ffffff;
    box-shadow: 0 0 5px #aaa;
}
#quick-menu .qr-code::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -10px;
    left: 82.5px;
}

#quick-menu .mobile:hover .qr-code {
    display: block;
}
#quick-menu .mobile .mobile-img1 {
    background: url(../img/mobile1.png) 0 0 no-repeat;
    width: 175px;
    height: 175px;
}
#quick-menu .mobile .mobile-img2 {
    background: url(../img/mobile2.jpg)0 0 no-repeat;
    width: 145px;
    height: 30px;
    margin: 5px auto;
}
#support .support-menu{
    display: none;
    position: absolute;
    width: 122px;
    overflow: hidden;
    right: 0;
    left: auto;
    line-height: 1.4;
    padding: 8px 10px;
    border:solid #eee;
    border-width: 0 1px 1px;
    background-color: #fff;
}
#support:hover .support-menu{
    display: block;
}
#support .support-menu a {
    padding: 0;
    margin-right: 20px;
    display: inline-block;
    line-height: 22px;
    width: 48px;
}
#support .support-menu a:nth-child(even){
    margin-right:0;
}
#support .support-menu a:hover {
    text-decoration: underline;
}
#support .support-menu li {
    padding: 5px 0;
    float: none;
    height: auto;
    line-height: 1.4;
    display: block;
    border-bottom: 1px dotted #827777;
    position: relative;
}
#sitemap:hover .sitemap-menu {
    display: block;
}
#sitemap .sitemap-menu {
    position: absolute;
    width: 1198px;
    display: none;
    border: solid #eee;
    border-width: 0 1px 1px;
    right: 0;
    left: auto;
    padding: 25px 0;
}
#sitemap .sitemap-menu a:hover {
    text-decoration: underline;
}
#sitemap .sitemap-menu ul {
    margin-right: -20px;
}
#sitemap .hot,#sitemap .market {
    width: 455px;
}
#sitemap .help {
    width: 196px;
}
#sitemap .sitemap-menu>div {
    float: left;
    padding: 0 0 0 30px;
    overflow: hidden;
    height: 110px;
}
#sitemap .sitemap-menu>div h2{
    font-size: 16px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
    font-weight: 100;
}
#sitemap .sitemap-menu li {
    width: 95px;
    float: left;
    padding: 6px 0;
    overflow: hidden;
    line-height: 1.4;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#sitemap .sitemap-menu li a{
    padding: 0;
}
/* header 结束*/

/* logo-search 开始*/
#log-search {
    height: 135px;
}
#log-search .wrapper>div {
    float: left;
}

.logo img {
    width: 240px;
    height: 130px;
}
.search {
    margin-top: 38px;
    margin-left: 38px;
}
.search .search-ipt {
    width: 483px;
    height: 36px;
    border: none;
    outline: none;/*去掉text表单内聚焦时的框框*/
    text-indent: 1em;
    font-size: 14px;
    line-height: 36px;
}
.search .search-btn {
    width: 132px;
    height: 36px;
    border: none;
    background: #ff0036;
    color: #fff;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 18px;
    float: right;
}
.search-box {
    width: 620px;
    border: 2px solid #ff0036;
    height: 36px;
}
.search .hot-query li {
    float: left;
    padding: 0 12px;
    position: relative;
    line-height: 21px;
}
.search .hot-query li:not(:last-of-type):after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 14px;
    background: #999;
    transform: translateY(-50%) scaleX(0.5);
}
.search .hot-query li a {
    color: #999;
    font-size: 12px;
}
.search .hot-query {
    margin-top: 5px;
}
/* logo-search 结束*/

/* main-nav 开始*/
#main-nav {
    height: 35px;
}
#main-nav .nav {
    margin-left: 200px;
}
#main-nav .nav li {
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
}
#main-nav .nav .nav-img {
    width: 100px;
    /*height: 35px;*/
}
#main-nav .nav a {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}
#main-nav .nav a:hover {
    color: #f00;
}
/* main-nav 结束*/
#banner {
    background-color: #040f37;
}
#banner .wrapper {
    height: 500px;
    background: url(../img/banner1.webp) no-repeat center;
    
}